@charset "utf-8";
/* CSS Document */

.styled-select select{
	background:white;
	width:200px;
	padding:5px;
	font-size:16px;
	line-height:1;
	border-radius:6px;
	height:40px;
	-webkit-appearance:none;
}

.styled-select {
	width:200px;
	height:40px;
	overflow:hidden;
	background:url(../../../../Users/Baiduri/Desktop/arrow.png) no-repeat right #FFF;
	border-radius:6px;
}

